@model List<Recipe>

@{
    Layout = "_UserLayout1";
}

@{
    if (Model is null || Model.Count == 0)
    {
        <p>
            Herhangi bir tarif bulunamadı
        </p>
    }
    else
    {
        <h1>Tarifler</h1>
        foreach (var tarif in Model)
        {
            <div>
                <p>
                    <b>Tarif adı : </b>@tarif.Name
                </p>
                <p>
                    <a asp-controller="Cook" asp-action="ShowCookDetail" asp-route-id="@tarif.Id">Tarife Git</a>

                </p>
            </div>
        }
    }


}
